<!-- <footer class="page-footer text-center">
        <div class="font-13 text-center">Copyright © 2019-2020 <b>MP Public School, Maharajganj</b> - All Rights
            Reserved.Designed & Developed By <a href="http://www.threesixtys.com/"><b><i>ThreeSixtys WebSoft
                        Pvt. Ltd.</i></b></a></div>
        <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
    </footer> -->