<!doctype html>
<html lang="en">

<head>
  <style>
    body {
      background-repeat: no-repeat;
      background-size: cover;
      /* background-image: url('assets/img/blog/17.jpg'); */
    }
  </style>
  <meta charset="utf-8">
  <title id="title">NOIS - Admin</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/images/MpPublicImages/fevicon/mppublic.ico">
  <link rel="stylesheet" href="/assets/css/lib1.css">
  <link rel="stylesheet" href="/assets/css/main.min.css">
</head>