<!-- START HEADER-->
<header class="header">
  <div class="page-brand">
    <a href="/" class="text-center" style="margin-left: 27%;">
      <span class="brand">
    NIOS
      </span>
      <span class="brand-mini">MP</span>
    </a>
  </div>
  <div class="flexbox flex-1">

    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar ">
      <li>
        <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-toolbar">
      <li class="dropdown dropdown-user">
        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
          Hi,&nbsp; <b class="text-light" style="white-space: nowrap;overflow: hidden;
                   text-overflow: ellipsis;max-width: 13ch;" id="usrdrpdwn">Admin</b><img alt="image"
            src="/assets/img/admin.jpg" />
        </a>
        <!-- <div class="dropdown-menu">
          <a class="dropdown-item" href="/myprofiles">My Profile</a>
          <a class="dropdown-item" href="/changepassword">Change Password</a>
          <a class="dropdown-item" href="/signin">Logout</a>
        </div> -->
      </li>
      <li>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
      </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
  </div>
</header>
<!-- END HEADER-->