
<nav class="page-sidebar" id="sidebar">
    <div id="sidebar-collapse">
        <ul class="side-menu metismenu">
            <!-- <li class="active">
                <a href="javascript:;"><i class="sidebar-item-icon ti-home"></i>
                    <span class="nav-label">Admin Modules</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse in">
                    <li class="active">
                        <a href="/mppublic/admin/homeDesign/aboutFacilities">Add </a>
                    </li>
                    <li class="active">
                        <a href="/mppublic/admin/homeDesign/schoolDesk">School's Desk</a>
                    </li>
                    <li class="active">
                        <a href="/mppublic/admin/homeDesign/ourActivities">Our Activities</a>
                    </li>
                 
                    
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="sidebar-item-icon ti-package"></i>
                    <span class="nav-label">Components</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="toastr.html">Toastr Notifications</a>
                    </li>
                    <li>
                        <a href="sweetalert.html">Sweet Alert</a>
                    </li>
                    <li>
                        <a href="alertify.html">Alertify</a>
                    </li>
                    <li>
                        <a href="idle_timer.html">Idle timer</a>
                    </li>
                    <li>
                        <a href="session_timeout.html">Session Timeout</a>
                    </li>
                    <li>
                        <a href="code_editor.html">Code Editor</a>
                    </li>
                    <li>
                        <a href="tree_view.html">Tree View</a>
                    </li>
                    <li>
                        <a href="nestable.html">Nestable List</a>
                    </li>
                    <li>
                        <a href="clipboard.html">Clipboard</a>
                    </li>
                    <li>
                        <a href="masonry.html">Masonry</a>
                    </li>
                    <li>
                        <a href="pdf_viewer.html">PDF viewer</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><i class="sidebar-item-icon ti-heart"></i>
                    <span class="nav-label">Buttons</span><i class="fa fa-angle-left arrow"></i></a>
                <ul class="nav-2-level collapse">
                    <li>
                        <a href="button-icon.html">Button Icon</a>
                    </li>
                    <li>
                        <a href="button-labeled.html">Labeled buttons</a>
                    </li>
                    <li>
                        <a href="button-animated.html">Animated buttons</a>
                    </li>
                    <li>
                        <a href="buttons-fab.html">FAB buttons</a>
                    </li>
                    <li>
                        <a href="button-groups.html">Button Groups</a>
                    </li>
                    <li>
                        <a href="button-dropdowns.html">Button dropdowns</a>
                    </li>
                    <li>
                        <a href="buttons-social.html">Social Buttons</a>
                    </li>
                </ul>
            </li> -->
             
        </ul>
        <div class="sidebar-footer">
            <a href="javascript:;"><i class="ti-announcement"></i></a>
            <a href="calendar.html"><i class="ti-calendar"></i></a>
            <a href="javascript:;"><i class="ti-comments"></i></a>
            <a href="login.html"><i class="ti-power-off"></i></a>
        </div>
    </div>
</nav>