<%include ./sharedView/headCss%>

<body class="fixed-navbar">
    <div class="page-wrapper">

        <%include ./sharedView/header%>
        <%include ./sharedView/sidebar%>

        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">
                <div class="ibox">

                    <div class="ibox-body">
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <h3>Senior Secondary Student List</h3>
                            </div>
                            <a href="/admin/AddStudentResult10" class="btn btn-primary pull-right">Add Secondary Student Record</a>
                        </div>
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover text-center" id="datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                       
                                        <th class="text-center">Enrolment No.</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">S/O</th>
                                        <th class="text-center">DOB</th>
                                        <th class="text-center">Exam Year</th>
                                        <th class="text-center">Result</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                       <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="ibox-head">
                            <div class="ibox-title">
                                <h3>Secondary Student List</h3>
                            </div>
                            <a href="/admin/AddStudentResult" class="btn btn-primary pull-right">Add Senior Secondary Student</a>
                        </div>

                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover text-center" id="datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                       
                                        <th class="text-center">Enrolment No.</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">S/O</th>
                                        <th class="text-center">DOB</th>
                                        <th class="text-center">Exam Year</th>
                                        <th class="text-center">Result</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>
                                       <tr>
                                        <td>452015434248</td>
                                        <td>Sandeep Gupta</td>
                                        <td>Ramesh Gupta<br/>Malini Gupta</td>
                                        <td>21-03-1998</td>
                                        <td>April-2019</td>
                                        <td>Pass</td>
                                        <td>
                                            <a href=" " title="Show Result" class="btn btn-primary"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-edit"></span> </a>
                                            <a href=" " title="Edit Result" class="btn btn-info"
                                            style="border-radius: 100px"
                                            >
                                            <span class="fa fa-file"></span> </a>
                                            <a href=" " title="Delete Result" class="btn btn-danger"
                                                style="border-radius: 100px"
                                                onclick="return confirm('Are you Sure to Remove :  ')">
                                                <span class="fa fa-trash"></span> </a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
                <%include ./sharedView/footer%>
            </div>
        </div>



</body>

</html>
<script src="/assets/js/lib1.js"></script>
<script src="/assets/js/lib2.js"></script>
<script src="/assets/js/custome.js"></script>
<script src="/assets/js/main.js"></script>